QT/Prac3/clauses
QT/Prac3/header
QT/Prac3/model
QT/Prac3/olympiad
QT/Prac2/exercici
QT/Prac3/roads
QT/Prac1/misat
QT/Prac1/salPicoSAT
QT/Prac1/exemple.cpp
QT/Prac4/basket
QT/Prac4/clauses
QT/Prac4/header
QT/Prac4/model
.vscode/settings.json
QT/Prac6/tomografia
QT/Prac4/factory
QT/Prac4/minColoring
QT/Prac6/coinsSol
QP/Prac1/kissat-master
*/*/clauses
*/*/model
*/*/header
*/*/*.cnf